$default: #172b4d;
$white: #fff;
$primary: #5e72e4;
$secondary: #f4f5f7;
$info: #11cdef;
$success: #2dce89;
$danger: #f5365c;
$warning: #fb6340;
$gray100: #f6f9fc;
$gray200: #e9ecef;
$gray300: #dee2e6;
$gray400: #ced4da;
$gray500: #adb5bd;
$gray600: #8898aa;
$gray700: #525f7f;
$gray800: #32325d;
$gray900: #212529;


